.container {
    font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
}

.container h1 {
    font-weight: bold;
    padding-top: 30px;
}

.col  h1{
align-items: center;
justify-content: center;
text-align: center;
}

.mb-3{
    display: flex;
    text-align: center;
    align-items:center;
}

.res-for {
    display: flex;
    text-align: center;
    align-items:center;
}

.nav-buttons button {
  border: none;

}

.nav-buttons {
    display: flex;
    flex-direction:row;
    margin: 20px;
    align-items: center;
    text-align: center;
    justify-content:center;
   
}

.tables {
    color: red;
}